<style>
    .container {
        margin: var(--space-s);
        /* margin-top: var(--space-2xl); */
        padding-top: var(--space-s);
        border-top: var(--color-text) 1px solid;

        display: grid;
        grid-template-areas:
            "name name"
            "contact contact"
            "socials nav";
    }

    a::after {
        background-color: transparent;
    }

    a {
        color: var(--color-text);
        text-decoration: none;
        border-bottom: transparent 1px solid;

        transition: all 0.3s ease-in;
    }

    a:hover {
        border-color: var(--color-text);
    }

    .name,
    .contact {
        margin-bottom: var(--space-m);
    }

    .name {
        display: flex;
        text-wrap: nowrap;
        align-items: baseline;
        gap: var(--space-m);
        flex-wrap: wrap;

        grid-area: name;
    }

    .name__title {
        text-transform: uppercase;
        font-weight: 500;
        font-size: var(--fs-1);
    }

    .name__subtitle {
        font-size: var(--fs--1);
        text-transform: lowercase;
        font-weight: 300;
    }

    .contact a,
    .contact p,
    .socials a,
    nav a {
        font-weight: 300;
    }

    .contact {
        grid-area: contact;
    }

    nav {
        grid-area: nav;
        justify-self: end;
        align-self: end;
        text-align: end;
    }

    .socials {
        grid-area: socials;
    }

    .name__title:hover {
        border-color: transparent;
        animation: wiggle 0.5s ease;
    }

    p + p {
        margin-top: 0;
    }

    @keyframes wiggle {
        0% {
            transform: rotate(0deg); /* Start at the original position */
        }
        25% {
            transform: rotate(5deg); /* Rotate a little bit to the right */
        }
        50% {
            transform: rotate(-5deg); /* Rotate a little bit to the left */
        }
        75% {
            transform: rotate(5deg); /* Rotate a little bit to the right */
        }
        100% {
            transform: rotate(0deg); /* End at the original position */
        }
    }

    @media screen and (min-width: 48rem) {
        .container {
            padding: var(--space-m);
        }

        .name,
        .contact {
            margin-bottom: var(--space-xs);
        }
    }
</style>

<div class="container">
    <div class="name">
        <a class="name__title" href="/">Jana Elst</a>
    </div>

    <div class="contact">
        <p><a href="mailto:elst.jana@gmail.com">elst.jana@gmail.com</a></p>
        <p>Ghent, Belgium</p>
    </div>

    <ul class="socials">
        <li>
            <a href="https://www.instagram.com/janaelst.be/" target="_blank"
                >Instagram</a
            >
        </li>
        <li>
            <a
                href="https://www.linkedin.com/in/jana-elst-9b9598207"
                target="_blank">LinkdIn</a
            >
        </li>
        <li>
            <a href="https://www.behance.net/janaelst" target="_blank"
                >Behance</a
            >
        </li>
        <li>
            <a href="https://github.com/Jana-Elst" target="_blank">GitHub</a>
        </li>
    </ul>

    <nav class="nav">
        <ul>
            <li>
                <a href="/blog">Blog</a>
            </li>
            <li>
                <a href="/notes">Notes</a>
            </li>
            <li>
                <a href="/pictures">Pictures</a>
            </li>
            <li>
                <a href="/technicalOverview">Technical Overview</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
        </ul>
    </nav>
</div>
