---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const activeHref = href?.toString().replace(import.meta.env.BASE_URL, "");
const isActive =
	activeHref === pathname || activeHref === "/" + (subpath?.[0] || "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a::after {
		background-color: black;
		transform: scaleX(0);
	}

	a:hover::after {
		animation: swipe 0.5s ease-in-out forwards;
	}

	@keyframes swipe {
		0% {
			transform: scaleX(0);
			transform-origin: bottom left;
		}

		100% {
			transform: scaleX(1);
			transform-origin: bottom left;
		}
	}

	a:hover::after,
	a:focus::after {
		width: 100%;
	}

	a.active::after {
		transform: scaleX(1);
	}

	a.active:hover::after {
		animation: swipeActive 0.5s ease-in-out forwards;
	}

	@keyframes swipeActive {
		0% {
			transform: scaleX(1);
			transform-origin: bottom right;
		}

		50% {
			transform: scaleX(0);
			transform-origin: bottom right;
		}

		51% {
			transform: scaleX(0);
			transform-origin: bottom left;
		}

		100% {
			transform: scaleX(1);
			transform-origin: bottom left;
		}
	}
</style>
